.danger {
    border: 3px solid blue;
    background: linear-gradient(45deg, red, black);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 34px;
}

.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.form-control {
    margin-top: 20px;
    width: 150px;
    height: 30px;
}


.btn-primary, 
.btn-danger {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 3px solid #000;
    background: blue;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.btn-danger {
    background: red;
}

.btn-slide {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn-slide>button {
    width: 70px;
    height: 30px;
    border: 3px solid rgb(8, 73, 41);
    border-radius: 5px;
    background: rgb(119, 170, 23);
    color: #fff;
    cursor: pointer;
}
.btn-slide>.before,
.btn-slide>.after { 
    background: #cf9c9c;
    border: 3px solid red;
}
.btn-slide>.a {
    background: #cf9c9c;
}

.slide-container {
    margin-top: 50px;
    width: 300vw;
    transition: all 1s;
}
.slide-box {
    width: 100vw;
    float: left;
}
.slide-box img {
    width: 100%;
} 
