img {
    position:absolute;
    background-size: cover;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    /* opacity:95%; */
    filter: brightness(0.7);

}

.hidden {
    display: none;
}

#clock {
    position: relative;
    left: calc(50% - 250px);
    border-bottom: 3px solid #ddd; 
    width: 500px;
    border: 10px solid #fff;
    margin-top: 200px;
    font-size: 125px ;
    font-family: "arial";
    color: #fff;
    border-radius: 20px;
}


#login-form {
    padding: 30px;
}

input::placeholder{
    color: #ddd;
}

#login-form input {
    position: relative;
    left: calc(56% - 270px);
    width: 300px;
    height: 50px;
    background: none;
    border: none;
    font-size: 20pt;
    padding-left: 50px;
    border-bottom: 3px solid #fff;
    
    color: #fff;
    
}

#login-form button {
    display: none;
}

#greeting {
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 50px;
    font-family: "arial";
    color: #fff;
}

#todo-form {
    width: 250px;
    border: 5px solid #fff;
    position: absolute;
    top: 200px;
    left: calc(97% - 250px);
    opacity: 0.8;

}
#todo-form input{
    width: 240px;
    height: 50px;
    background: none;
    border: none;
    font-size: 17px;
    border: 3px solid #ccc;
    color: #fff;
    text-align: center;
}

#todo-list {
    
    position: absolute;
    top: 280px;
    left: calc(97% - 250px);
    color: #fff;
    border: 3px solid #ddd;
    width: 210px;
    height: 270px;
    border-radius: 15px;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#todo-list li {
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 17px;
}

#todo-list li::before {
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}

#todo-list li:last-child {
    border: none;
}



#quote {
    position: absolute;
    width: 620px;
    top: 80%;
    left: calc(50% - 310px);
    border: 5px solid rgb(255, 255, 255);
    text-align: center; 
    font: 18px/1.4 "arial";
    color: #fff;
    padding: 7px;
    
}

#weather {
    position: absolute;
    width: 200px;
    top: 30px;
    left: calc(100% - 300px);
    padding: 20px;
    color: #000;
    font-weight: bold;
    font: 17px/1.5;
    background-color: #ccc;
    border: 5px solid #fff;
    border-style: ridge;
    opacity: 0.7;
}