img {
    position:absolute;
    background-size: cover;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    /* opacity:95%; */
    filter: brightness(0.7);

}

.hidden {
    display: none;
}

#clock {
    position: relative;
    left: calc(50% - 250px);
    border-bottom: 3px solid #ddd; 
    width: 500px;
    border: 10px solid #fff;
    margin-top: 200px;
    font-size: 125px ;
    font-family: "arial";
    color: #fff;
    border-radius: 20px;
}


#login-form {
    padding: 30px;
    /* border: 10px solid #fff; */
}

/* #login-form .icon {
    color: #fff;
    position: absolute;

    font-size: 25px;
    margin-left: 15px;
    margin-top: 13px;
    z-index: 1;
    
} */
input::placeholder{
    color: #ddd;
}

#login-form input {
    position: relative;
    left: calc(57% - 250px);
    width: 300px;
    height: 50px;
    background: none;
    border: none;
    font-size: 20pt;
    padding-left: 50px;
    border-bottom: 3px solid #fff;
    
    color: #fff;
    
}

#login-form button {
    display: none;
}

#greeting {
    /* border: 10px solid #fff; */
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 50px;
    font-family: "arial";
    color: #fff;
}

#quote {
    position: absolute;
    width: 620px;
    top: 80%;
    left: calc(50% - 310px);
    border: 5px solid rgb(255, 255, 255);
    text-align: center; 
    font: 18px/1.4 "arial";
    color: #fff;
    padding: 7px;
    
}

#weather {
    position: absolute;
    width: 200px;
    top: 30px;
    left: calc(100% - 300px);
    padding: 20px;
    color: #000;
    font-weight: bold;
    font: 17px/1.5;
    background-color: #bbb;
    border: 5px solid #fff;
    border-style: ridge;
    opacity: 0.7;
}