img {
    position:absolute;
    background-size: cover;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:100%;

}

.hidden {
    display: none;
}

#clock {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #ddd; 
    /* border: 10px solid #fff; */
    margin-top: 200px;
    font-size: 125px ;
    font-family: "arial";
    color: #fff;
}


#login-form {
    padding: 30px;
    /* border: 10px solid #fff; */
    
}

#login-form .icon {
    color: #fff;
    position: absolute;
    /* top: 50%;  */
    font-size: 25px;
    margin-left: 15px;
    margin-top: 13px;
    z-index: 1;
    
}

#login-form input {

    display: flex;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 60px;
    background: none;
    border: none;
    font-size: 20pt;
    padding-left: 50px;
    border-bottom: 3px solid #fff;
    color: #fff;
    
}

#login-form button {
    display: none;
}

#greeting {
    display: flex;
    align-content: center;
    /* border: 10px solid #fff; */
    text-align: center;
    
    font-size: 50px;
    font-family: "arial";
    color: #fff;
}

#quote {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 10px solid #fff;
    /* width: 700px; */
    
    text-align: center; 
    font: 20px/1.5 "arial";
    color: #fff;
    background: linear-gradient(45deg, rgb(255, 80, 80), rgb(108, 108, 253) );
}

#weather {
    color: #fff;
}